#container{
   margin: 10px;
}

#progressBars{   
    width: 100%;
    .progress-bar{
        position: relative;
        height: 50px;
        margin: 10px 0;
        border: 1px solid;       
        .bar{
            height: 50px;
            background-color: rgb(180, 216, 229);
            transition: width 0.5s;
            -webkit-transition: width 0.5s;
            -moz-transition: width 0.5s;
        }
        .progress-bar-label{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

#controls{
    height: 30px;
    select{
        margin: 15px 5px 15px 0;
        height: 100%;
        -webkit-appearance: menulist-button;
        &:focus{
            outline: none;
        }
    }
    button{
        margin: 0 5px;
        cursor: pointer;
        background-color: rgb(230, 230, 230);
        height: 100%;
        width: 50px;
    }
}