.title{
    margin: 10px;
}

#progressBars{   
    width: 100%;
    .progress-bar{
        position: relative;
        height: 50px;
        margin: 10px;
        border: 1px solid;       
        .bar{
            height: 50px;
            background-color: rgb(180, 216, 229);           
        }
        .progress-bar-label{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
        }
    }
}